{% extends "base.html" %}
{% block content %}
	<section class="container">
		<div class="jumbotron">
    {% for post in posts %}
        <h3><a href="/posts/{{ post.id}}">{{ post.header }}</a></h3>
        <h5><i>{{ post.when }}</i></h5>
        <p><h4>{{ post.shorten_post|safe }}</h4></p>
        {% if user.is_authenticated %}
            <div style="text-align: right;">
            <a href="/posts/{{ post.id}}/edit/"><h5>Edit post</h5></a>
            </div>
        {% endif %}
        
        {% endfor %}
	</div>
	</section>
    {% endblock %}
